{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link type = "text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>IT-translator: translation of articles and technical vocabulary</title>
    <link rel="icon" type="image/x-icon" href="\favicon.ico">

<!--   строчка для полного бокса перевода-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
   <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

      <div class="container">
         <style>
            body {
                height: 300px;
                background-color: rgb(222, 166, 166);
                background-image: url("{% static 'img/des.jpg' %}");
                background-size: cover;
                background-position: 52% -5%;
                background-repeat: no-repeat;
                background-attachment: scroll;
            }
        </style>
         <h1 class="mt-5 mb-5" align="center">IT-translator</h1>
        <!-- <img class="w-50 mx-auto d-block" src="{% static 'img/des.jpg' %}" alt="photo"> -->
         <form method="POST" action="{% url 'home' %}"> 
            {% csrf_token %}

            <div class="form-row mt-4">
               <div class="col">
                  <textarea name="txt" class="form-control" placeholder="Enter the text" rows="5" required="required"></textarea>
               </div>
               <br>
               <div class="col">
                  <select class="form-control" name="lang">
                     <option selected value ="ru" disabled>Russian</option>
                  </select>
               </div>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Translate</button>
         </form>
         <p class="mt-4">{{result}}</p>

         <h2 class="section__title">Miniature guide</h2>
         <div class="section__text">
            <p>"A" </br>
               <p> </p>
               ADSL (Asymmetric Digital Subscriber Line) — Технология, которая позволяет подключаться к интернету и обеспечивать высокоскоростную передачу данных через существующие телефонные линии </br>
               <p> </p>
               A.K.A (As Know As) - Аббревиатура "Известен как", "Другими словами" </br>
               <p> </p>
               API (Application Programming Interface) — Программный интерфейс приложения или интерфейс прикладного программирования. Простыми словами, это описание вариантов взаимодействия компьютерных программ между собой
               <p> </p>
               Application — Прикладное программное обеспечение (компьютерная программа / мобильное приложение), предназначенное для выполнения определённых задач </br>
               <p> </p>
               Approve — Подтверждение, согласие, одобрение чего-либо после проведения предварительной проверки, модерации </br>
               <p> </p>
               ASP (Application Service Provider) — Организация - провайдер, предоставляющая услуги по аренде программных продуктов и инфраструктуры на базе периодических платежей с доступом к приложениям через Интернет или виртуальную частную сеть </br>              
            </p>
         </div>

         <div class="section__text">
            <p>
               "B" </br>
               <p> </p>
               Batch file — Пакетный файл, текстовый файл (MS-DOS, OS/2 или Windows), который содержит последовательность команд, служащих для исполнения командным интерпретатором. После запуска данного файла программа-интерпретатор (например, cmd.exe) читает его построчно и по порядку исполняет команды. </br>
               <p> </p>
               Bad — Почта, которая дошла получателю с ошибками, либо же неформальное название области, куда эта почта попадает (Badmail). </br>
               <p> </p>
               Badsector (Badblock) — Не читающийся/ненадежный кластер диска, который содержит в себе сбойные сектора, или помечен как таковой в структурах файловой системы. </br>
               <p> </p>
               Backup — Резервное копирование, т.е. создание резервной копии информации/проекта/сайта, для того, чтобы при каких-либо ошибках и сбоях иметь возможность восстановить данные. </br>
               <p> </p>
               Backlog — Перечень задач по функционалу в порядке приоритета для реализации в следующих версиях продукта. </br>
               <p> </p>
               Battery life — Продолжительность автономной работы.
               <p> </p>
               Big data — Набор специализированных методов и инструментов, использующихся для хранения и обработки огромных объемов данных, т.е. таких, которые характеризуются «тремя V»: volume (объём), velocity (скорость прироста и обработки), variety (многообразие). </br>
               <p> </p>
               Bink (BinkleyTerm) — Бинком сейчас называют популярный IP-мейлер binkd. Это программа, разработанная для передачи почты и файлов в международной любительской сети Фидонет. В отличие от классических FTN-мейлеров, binkd работает по специально разработанному для него протоколу binkp, используя в качестве транспорта TCP/IP. Таким образом, binkd позволяет передавать почту как через Интернет, так и по локальной сети. 
               (Binkd распространяется под лицензией GNU GPL v.2.) </br>
               <p> </p>
               Blockchain — Методика построения непрерывной последовательной цепочки блоков (связного списка), которые содержат определенную информацию. Внесение изменений в информацию существующих блоков очень проблематично, т.к., чаще всего, копии цепочек блоков хранятся на множестве разных компьютеров независимо друг от друга. Кроме того, если необходимо внести какие-либо изменения в информацию одного из блоков, придётся редактировать и все последующие блоки. </br>
               <p> </p>
               BSoD (Blue Screen of Death) — «Синий экран смерти», уведомление о крупной ошибке системы в некоторых версиях OS Windows. Обычно требует перезагрузки системы. </br>
            </p>
         </div>
         <div class="section__text">
            <p>"C"</p> 
            <p>CD-R (Compact Disk-Recordable) — Стандарт компакт-дисков и дисководов, позволяющий осуществлять не только чтение, но и однократную запись данных на CD. </br>
               <p> </p>
               CGI (Common Gateway Interface) — Интерфейс, позволяющий взаимодействовать программам клиента с программами, запущенными на сервере. Интерфейс прикладного программирования, используеммый в Internet. CGI — спецификация, определяющая взаимодействие внешней программы создания динамических www-документов и http-сервера. </br>
               <p> </p>
               Client technology — Метод распределения конкретной задачи между несколькими компьютерами. </br>
               <p> </p>
               CMOS (Complementary Metal-Oxide Semiconductor) — Микросхема, содержащая сведения о параметрах устройства (см. BIOS). </br>
               <p> </p>
               Color Depth — количество бит, приходящихся на один пиксель (bpp), чем больше это число, тем больше цветов может использовать изображение. </br>
               <p> </p>
               Configuration — Конфигурация, совокупность программных и аппаратных средств компьютера. </br>
               <p> </p>
               Counter — Счетчик посещений на Web-страницах. </br>
               <p> </p>
               CPS (Check Clicks per Second) — Под этим сокращением понимают скорость передачи/приема данных модемом. Измеряется в битах в секунду. </br>
               <p> </p>
               Corrupt — Повреждение, дефект. </br>
               <p> </p>
               CVS (Concurrent Versions System)— Система контроля версий. С помощью CVS можно обратиться к старым версиям для выяснения причины ошибки.</p> </br>
         </div>
         <div class="section__text">
            <p>"D"</p>
            <p>DAE (Digital Audio Extraction) — Процесс копирования аудиоинформации на жесткий диск компьютера. </br>
               <p> </p>
               DDE (Dynamic Data Exchange) — Динамический обмен данными. Стандартный программный протокол для взаимодействия между процессами.
               <p> </p>
               Decrement — Уменьшение значения переменной на заданное значение (обычно, на единицу). </br>
               <p> </p>
               Deluxe — Расширенная версия какого-либо программного пакета, включающая дополнительные программы или возможности. </br>
               <p> </p>
               Denial of Service — Отказ сервера в обслуживании, невозможность обработки информации из-за множества поступающих запросов. </br>
               <p> </p>
               Demo (Demonstration») — Демонстрационная версия чего-либо с ограниченным функционалом.Также это жанр компьютерного искусства, заключающийся в создании мультимедийной презентации. </br>
               <p> </p>
               Destructor — Специальный тип метода класса, который выполняется при удалении объекта класса. Деструкторы созданы для очистки памяти после инициализации класса с помощью конструкторов. </br>
               <p> </p>
               Domain —  Уникальный онлайн-адрес, место его размещения в Интернете. </br>
               <p> </p>
               Drop — Подразумевается обычно удаление чего-либо (базу данных, приложение, таблицу и т.д.). </br>
               <p> </p>
               DSP — (Digital Signal Processor) — Специализированная микросхема, отвечающая за обработку сигналов. Используются для преобразования аналоговых сигналов в цифровые и наоборот. </br>
               <p> </p>
               Dump — Файл, содержащий резервную копию системы/памяти компьютера/базы данных, актуальную на момент его создания. В разработке их применяют для создания и поддержания в актуальном состоянии системы бэкапа. </br>
               </p>

            <div class="section__text">
               <p>"E"</p>
               <p>Enable — Включить, разрешить использование подключенного устройства или системной функции. </br>
                  <p> </p>
                  Encapsulation — Упаковка данных или функций в единый компонент. Процесс скрытого хранения деталей реализации объекта от пользователей и предоставление им для работы интерфейсов классов. </br>
                  <p> </p>
                  EPROM (Erasable Programmable Read Only Memory) — Программируемая микросхема памяти. </br>
                  <p> </p>
                  EPS (Encapsulated PostScript) — Формат для описания текстовых и графических данных. Разработан фирмой Adobe. Использует PostScript. </br>
                  <p> </p>
                  Exchange — Обмен данными. </br>
                  <p> </p>
                  Extension — Расширение имени файла. Расширение отделяется от собственно имени файла точкой.
               </p>
            </div>

            <div class="section__text">
               <p>"F"</p>
               <p>Fail — Отсутствие данных. </br>
                  <p> </p>
                  Fire wall — (Брандмауер) Программа-антивирус, обеспечивающая обнаружение и защиту компьютера от вирусов и вредоносных ПО. </br>
                  <p> </p>
                  FidoNet — Глобальная любительская некоммерческая не анонимная компьютерная сеть (аналог интернета), созданная по технологии «из точки в точку». </br>
                  <p> </p>
                  Forward – Переслать поступившее письмо другому пользователю. </br>
                  </p>
            </div>

            <div class="section__text">
               <p>"G"</p>
               <p>GFLOPS (Billions of FLOating Point Operations Per Second (GigaFlops)) - Миллиард операций с плавающей точкой в секунду. Один из показателей скорости обработки информации. </br>
                  <p> </p>
                  GPRS (General Packet Radio Service)— Расшифровывается как пакетная передача данных по радиоканалу. </br>
                  <p> </p>
                  Gopher — Распределенная система экспорта структурированной информации. Сервис прямого доступа и требует, чтобы и сервер, и клиент были полноценно подключены к Интернету. </br>
                  <p> </p>
                  Guest Book — Программа, запущенная на стороне клиента. Позволяет посетителям высказать свое мнение о страничках и послать его авторам. </br>
                  <p> </p>
                  GUI (Graphical User Interface) — Графический пользовательский интерфейс. </br>
               </p>
            </div>

            <div class="section__text">
               <p>"H"</p>
               <p>HDSL (High-bit-rate DSL ) — Технология высокоскоростной синхронной передачи данных по витой паре на расстоянии до 6 км со скоростью до 2, 048 Мбит/c. </br>
                  <p> </p>
                  Headless — Компьютер, который работает без устройства для вывода визуала, т.е. дисплея/монитора. Это может быть, к примеру, сервер. Безголовая система обычно управляется через сетевое соединение. </br>
                  <p> </p>
                  Htaccess — файл, позволяющий задать множество полезных настроек, используемых при выдаче файлов клиенту. С помощью этого файла Вы можете: запретить доступ к файлу, всем файлам, группе файлов по маске. </br>
                  </p>
            </div>

            <div class="section__text">
               <p>"I"</p>
               <p>IIS (Internet Information Server) — Набор интегрированных сервисов, позволяющих размещать, управлять и организовывать доступ к веб-серверам, создавать и управлять веб-приложениями. </br>
                  <p> </p>
                  Implementation — В объектно-ориентированном программировании термин обозначает практическую реализацию методов. </br>
                  <p> </p>
                  Increment — Уменьшение значения переменной на заданное значение (обычно, на единицу). </br>
                  <p> </p>
                  Incorrect — Некорректная операция, неправильный параметр и т. д. </br>
                  <p> </p>
                  Insert — Вставка, стандартный пункт меню программ Windows. </br>
                  <p> </p>
                  I/O (Input / Output) — Устройство ввода-вывода информации. </br>
                  <p> </p>
                  IRQ (Interrupt Request) — Прерывание, специальный канал связи для передачи сигналов между подключенным к компьютеру устройством и центральным процессором. </br>
                  <p> </p>
                  ISDN (Integrated Services Digital Network) — Цифровая сеть комплексных услуг — высокоскоростная линия, используемая для удаленного доступа к сети. </br>
                   </p>
               
            </div>

            <div class="section__text">
               <p>"J"</p>
               <p>Join — Использовать, задействовать. </br>
                  <p> </p>
                  Jumper — Переключатель, соединяющей контакты на материнской плате. </br>  </p>
            </div>

            <div class="section__text">
               <p>"K"</p>
               <p>Keep — Держать, сохранять установки. </br>
                  <p> </p>
                  KISS (keep it simple, stupid) — Принцип: «не усложняй». </br>
                  <p> </p>
                  Kludge — Управляющие строки, которые содержат техническую информацию о письме, скрытую по умолчанию при просмотре в редакторе. </br> </p>
            </div>

            <div class="section__text">
               <p>"L"</p>
               <p>Lag — Торможение или медленная работа какой-либо системы. </br>
                  <p> </p>
                  LAN (Local Area Network) — Локальная компьютерная сеть. </br>
                  <p> </p>
                  Leech — Пользователь файлообменной сети, который пользуется ресурсами других, ничего не загружая взамен. </br>
                  <p> </p>
                  Log — Текстовый файл отчета, в который записываются все действия, выполняемые программой, а также их результаты. </br> </p>
            </div>

            <div class="section__text">
               <p>"M"</p>
               <p>Mailing List — Список почтовой рассылки, по которому программа автоматически рассылает письмо. </br>
                  <p> </p>
                  Malicious software — Вредоносное программное обеспечение, созданное с целью нанести урон компьютеру с его содержимым. </br>
                  <p> </p>
                  Master — Основное устройство. </br>
                  <p> </p>
                  Merge — Объединение нескольких веток кода или данных таблиц. </br>
                  <p> </p>
                  Microsoft FrontPage Server Extension — дополнительная возможность веб-сервера, позволяющая использовать инструмент создания и ведения сайта. Прост в использовании, позволяет создавать сложные динамические решения. </br>
                  <p> </p>
                  MHS (Message Handling System) — Система управления сообщениями, совместно обеспечивающая функционирование электронной почты. </br> </p>
            </div>

            <div class="section__text">
               <p>"N"</p>
               <p>N/A (Not available) — Сокращение, используемое при общении в интернет и в некоторых программах для обозначения статуса пользователя на данный момент. Обозначает: нет данных, не доступен. </br>
                  <p> </p>
                  Netscape Navigator (NN) — Один из броузеров, программ для просмотра веб-страниц. </br>
                  <p> </p>
                  Netiquette — Сетевой этикет, правила поведения в Интернете. </br>
                  <p> </p>
                  NSFW (Not safe for work) — Небезопасно для работы. </br> </p>
            </div>

            <div class="section__text">
               <p>"O"</p>
               <p>OCR (Optical Character Recognition) — Система автоматического распознавания текста, введенного в компьютер через сканер в виде графического изображения. </br>
                  <p> </p>
                  ODBC (Open DataBase Connectivity) — Открытая связь с базой данных — технология, предоставляющая стандартный интерфейс доступа к базам данных разных типов. </br>
                  <p> </p>
                  OEM (Original Equipment Manufacturer) — Способ продажи программного обеспечения вместе с готовыми компьютерами, а также с отдельными комплектующими.  </br>
                  <p> </p>
                  OLE — Технология ObjectLinkingandEmbedding, дающая возможность вносить изменения в данные, которые были созданы в иной программе, не покидая основной редактор. </br>
                  <p> </p>
                  OPML — Один из форматов предназначенных для хранения списка источников новостей на веб-сайте. </br>
                  <p> </p>
                  Overclocking — Разгон процессора и ряда других компьютерных устройств, установка повышенной рабочей частоты с целью увеличения производительности. </br> </p>
            </div>

            <div class="section__text">
               <p>"P"</p>
               <p>PageRank (PR) — Алгоритм определения популярност веб-сайта. </br>
                  <p> </p>
                  Patch — Программа, исправляющая ошибки в какой-либо программе или добавляющая в нее новые возможности. См. Update. Кроме того, в терминологии мультимедиа патчами называются внешние библиотеки инструментов, загружаемые в память звуковой карты при воспроизведении MIDI-музыки. </br>
                  <p> </p>
                  PCMCIA (Personal Computer Memory Card International Association) — Спецификация дополнительных устройств для портативных компьютеров, в том числе — модемов, карт оперативной памяти и т. д. </br>
                  <p> </p>
                  Performance — Производительность, скорость работы компьютера. </br>
                  <p> </p>
                  PhpMyAdmin — Утилита, написанная на PHP для удобного администрирования MySQL через веб. </br>
                  <p> </p>
                  Plug-in — Подключаемая программа, выполняющая какие-либо дополнительные функции в главной программе. </br>
                  <p> </p>
                  Prompt — Приглашение. </br>
                   </p>
            </div>

            <div class="section__text">
               <p>"Q"</p>
               <p>QA (Software Testing and Quality Assurance) — Специалист по обеспечению качества программного обеспечения. </br> </p>
            </div>

            <div class="section__text">
               <p>"R"</p>
               <p>R&D (Research and Developmen) — Исследования и разработки. </br>
                  <p> </p>
                  Refresh — Частота обновления кадров на экране монитора. </br>
                  <p> </p>
                  Run — Запустить программу. </br> </p>
            </div>

            <div class="section__text">
               <p>"S"</p>
               <p>Scheduler — Планировщик задач. Программа, позволяющая запускать другие программы в заданное пользователем время. </br>
                  <p> </p>
                  SMART (Self-Monitoring Analysis and Reporting Technology) — Система оперативной самодиагностики, встроенная в жесткие диски последних моделей. </br>
                  <p> </p>
                  S/PDIF — Цифровой вход/выход на звуковых картах высшего класса. </br>
                  <p> </p>
                  Sux — Крайняя степень неодобрения чего-либо, уничижительное определение. </br>
                  <p> </p>
                  SQL (Structured Query Language) — Язык структурированных запросов, используемый для работы с базами данных. </br> </p>
            </div>

            <div class="section__text">
               <p>"T"</p>
               <p>Template — Шаблон. </br>
                  <p> </p>
                  Temporary — Временный. </br>
                  <p> </p>
                  Tip — Совет, подсказка. </br>
                  <p> </p>
                  TLS — Протокол, используемый для аутентификации и защиты данных. </br>
                  <p> </p>
                  Tools — Приспособления, инструменты. </br>
                  <p> </p>
                  Trialware — Пробная версия коммерческой программы, работающая в течение небольшого срока после инсталляции (как правило, 14-30 дней). </br>
                  <p> </p>
                  Troubleshooting — Рекомендации по решению проблем, средства для устранения неисправностей. </br>
                  <p> </p>
                  TWAIN (Technology Without Any Interesting Name) — Программный интерфейс для подключения ряда внешних устройств ввода. </br>
                  <p> </p>
                  Tweak — Небольшая утилита для подстройки скрытых, недокументированных параметров программы или устройства. </br> </p>
            </div>

            <div class="section__text">
               <p>"U"</p>
               <p>Undo — Отменить действие, операцию. </br>
                  <p> </p>
                  Usenet — система телеконференций, организованная в форме каталога, формируемого на основе групп новостей по определенным предметным новостям. </br>
                  <p> </p>
                  Use Case — Техника описания взаимодействия пользователя с продуктом через сценарии. </br>
                  <p> </p>
                  UPS — Источник бесперебойного питания. </br> </p>
            </div>

            <div class="section__text">
               <p>"V"</p>
               <p>Virtual Private Server — Услуга, в рамках которой пользователю предоставляется виртуальный выделенный сервер. </br> </p>
            </div>

            <div class="section__text">
               <p>"W"</p>
               <p>Warez — интеллектуальная собственность или ПО, свободно распространяемое в Интернете, незаконным путем с нарушением прав правообладателя. </br>
                  <p> </p>
                  Worm — Вредоносная программа. Один из типов компьютерных вирусов. </br>
                  <p> </p>
                  WYSIWYG — визуальный редактор. </br> </p>
            </div>

            <div class="section__text">
               <p>"X"</p>
               <p>XML — Расширяемый язык разметки гипертекста. </br> </p>
            </div>

            <div class="section__text">
               <p>"Y"</p>
               <p>Y2K — 2000-й год. Чаще всего эта аббревиатура употребляется в связи с ошибкой 2000-го года — невозможностью некоторых старых программ и компьютеров правильно интерпретировать смену дат при переходе в новое тысячелетие. </br> </p>
            </div>

            <div class="section__text">
               <p>"Z"</p>
               <p>ZIP-code — Почтовый индекс. </br>
                  <p> </p>
                  Zoom — Увеличение/уменьшение экранного изображения (соответственно — Zoom In и Zoom Out). </br> </p>
            </div>

            
         </div>
      </div>
   </body>
</html>